.form-container{
    width:  600px;
    margin: 50px auto;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.from-title{
    font-size: 34px;
    color: blue;
    font-weight: 400;
}
.input-group{
    margin-bottom: 20px;
}

.input-group label{
    display: block;
    margin-left: 5px;
}

.input-group input{
    width: 415px;
    height: 55px;
    border:  1px solid gray;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 24px;

}

.form-submit{
    width: 415px;
    height: 55px;
    background-color: rgba(247, 203, 146, 0.911);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.form-submit:hover{
    background-color: rgb(247, 203, 146);
}
.form-link{
    text-decoration: none;
    color: orange;
}